<div class="cookie_list" ng-controller="CookieListCtrl">
	<div class="btn-group">
		<button class="btn btn-small" ng-click="clear_cookies()">Clear cookies</button>
	</div>
	<h5>Site cookies:</h5>
	<div ng-repeat="cookie in cookies|filter:{is_tracking:false}">
		<ng-include src="'template/cookie_template.html'"></ng-include>
	</div>
	<div ng-show="!settings['treat_analtytics_as_normal']">
		<h5>Analytics/Tracking cookies:</h5>
		<div class="cookie_title" ng-repeat="(category, cookies) in tracking_categories">
			<i class="icon-chevron-down" ng-show="!tracking_categories_opened[category]"></i>
			<i class="icon-chevron-up" ng-show="tracking_categories_opened[category]"></i> 
			<span ng-init="!tracking_categories_opened[category]" ng-click="tracking_categories_opened[category] = !tracking_categories_opened[category]">{{category}}</span><br/>
			<div ng-show="tracking_categories_opened[category]">
				<div ng-repeat="cookie in cookies" class="cookie_subcategory">
					<ng-include src="'template/cookie_template.html'"></ng-include>
				</div>
			</div>
		</div>
	</div>
	<h5>Useful stuff:</h5>
	<labeled-input title="curl" value="{{curl_command}}"></labeled-input>
	<labeled-input title="wget" value="{{wget_command}}"></labeled-input>
</div>