<div class="cookie_container">
	<div ng-init="cookie.local_show=0" class="cookie_title"  ng-click="cookie.local_show=!cookie.local_show">

		<div class="row">
			<div class="span5">
				<i class="icon-chevron-down" ng-show="!cookie.local_show"></i>
				<i class="icon-chevron-up" ng-show="cookie.local_show"></i> 
				<i class="icon-trash" ng-click="delete_cookie($event, cookie);"></i>
				{{cookie.name}} (<i>{{cookie.domain}}{{cookie.path}}</i>)
				<i class="icon-pencil" ng-click="edit_cookie($event, cookie);"></i>
			</div>
			<div class="span2">
				<span class="label  padded_label" ng-repeat="t in cookie.types">{{t}}</span>
			</div>
			<div class="span2 text-right">
				
				<span class="label label-success padded_label" ng-repeat="f in cookie.filters">{{f.shortname}}</span>
				<span class="label label-inverse padded_label" ng-repeat="pf in cookie.prefilters">{{pf.shortname}}</span>
			</div>
		</div>
		
	</div>
	<div ng-show="cookie.local_edit">
		<textarea autofocus tabindex="1" ng-init="cookie.local_value = cookie.value" ng-model="cookie.local_value" class="fullwidth_textarea"></textarea>
		<button tabindex="2" class="btn btn-mini" ng-click="save_cookie(cookie);">Save</button>
		<button tabindex="3" class="btn btn-mini" ng-click="cookie.local_value=cookie.value; cookie.local_edit=0">Cancel</button>
	</div>
	<div ng-show="cookie.local_show" class="cookie_description">
		<div ng-show="cookie.prefilters">
			<b>Tagged as: </b>
			<span ng-repeat="pf in cookie.prefilters" title="{{pf.description}}">
				<span class="tag">
					{{pf.name}}
					<span class="tag_description">{{pf.description}}</span>
				</span>
			</span>
		</div>
		<div ng-show="cookie.filters">
			<b>Matching signatures: </b><br/>
			<div ng-repeat="f in cookie.filters">
				<span title="{{f.description}}">{{f.name}}</span><br/>
				<div class="fixed_width">{{f.description}}</div>
			</div>
		</div>
		<b>Value:</b><br/>
		<div class="fixed_width">{{cookie.value}}</div>
		<b>Analysis:</b> 
		<button href="#" class="btn btn-mini" ng-click="analyse(cookie,'hexdump');">hexdump</button>
		<button href="#" class="btn btn-mini" ng-click="analyse(cookie,'decode base64');">decode base64</button> 
		<button href="#" class="btn btn-mini" ng-click="analyse(cookie,'json');">json</button>
		<button href="#" class="btn btn-mini" ng-click="analyse(cookie,'timestamp');">timestamp</button>
		
		<div ng-bind-html-unsafe="cookie.analysis"></div>
	</div>
	<hr />
</div>