<div class="cookie_container">
	<div ng-init="cookie.local_show=0" ng-click="cookie.local_show=!cookie.local_show" class="cookie_title">
		<i class="icon-chevron-down" ng-show="!cookie.local_show"></i>
		<i class="icon-chevron-up" ng-show="cookie.local_show"></i> 
		{{cookie.name}} (<i>{{cookie.domain}}</i>)
	</div>
	<div ng-show="cookie.local_show" class="cookie_description">
		<div ng-show="cookie.prefilters">
			<b>Valid in: </b>
			<span ng-repeat="pf in cookie.prefilters" title="{{pf.description}}">{{pf.name}} </span>
		</div>
		<div ng-show="cookie.filters">
			<b>Matching signatures: </b><br/>
			<div ng-repeat="f in cookie.filters">
				<span title="{{f.description}}">{{f.name}}</span><br/>
				<div class="fixed_width">{{f.description}}</div>
			</div>
		</div>
		<b>Value:</b><br/>
		<div class="fixed_width">{{cookie.value}}</div>
	</div>
	<hr />
</div>