<!doctype html>
<html ng-app ng-csp>
	<head>
		<title>cookiemonster - The cookie analyzer</title>
		<script src="vendor/jquery-1.9.1.min.js"></script>
		<script src="vendor/angular.min.js"></script>
		<script src="js/helpers.js"></script>
		<script src="js/prefilters.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/popup.js"></script>
		<style>
			body {
				font-family: "Helvetica Neue", Arial, sans-serif;
				font-size: 13px;
			}
			.cookie_list {
				width: 800px;
			}
			.cookie_title {
				background-color: #fff;
			}
			.cookie_description {
				background-color: #eee;
			}
			.cookie_subcategory {
				margin-left: 25px;
			}
			.fixed_width {
				font-family: "Courier New", monospace;
				word-wrap: break-word;
			}
		</style>
	</head>
	<body>
		<div class="cookie_list" ng-controller="CookieListCtrl">
			<strong><i>Site cookies:</i></strong>
			<div ng-repeat="cookie in cookies|filter:{is_tracking:false}">
				<ng-include src="'cookie_template.html'"></ng-include>
			</div>
			<strong><i>Analytics/Tracking cookies:</i></strong>
			<div ng-repeat="(category, cookies) in tracking_categories">
				<span ng-init="tracking_categories_opened[category] = false" ng-click="tracking_categories_opened[category] = !tracking_categories_opened[category]">{{category}}</span><br/>
				<div ng-show="tracking_categories_opened[category]">
					<div ng-repeat="cookie in cookies" class="cookie_subcategory">
						<ng-include src="'cookie_template.html'"></ng-include>
					</div>
				</div>
			</div>
			<hr/>
			<strong><i>curl command for request:</i></strong><br/>
			<pre>curl -LO --cookie "<span ng-repeat="c in cookies">{{c.name}}={{c.undecoded_value}};</span>" "{{url}}"</pre>
		</div>
	</body>
</html>
